.ad{
    width:100%;
    aspect-ratio: 3.9;
    margin: 15px;
    font-size: 4em;
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 80vw;
    margin-top: 20px;
}
.pagination{
    margin-top: 10px;
    height:100px;
    width:100px;
}