.card{
    height: 80px;
    width: 80px;
    color:white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.card:hover{
    color:orange;
}
.card img{
    height: 40px;
    width: 40px;
}